<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="container">
        <div class="row">
          <table class="table" style="border: 1px solid black;">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Email Number</th>
                  <th scope="col">Contact</th>
                  <th scope="col">Password</th>
                  <th scope="col">DOB</th>
                  <th scope="col">Address</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Image</th>
                  <th scope="col">Action</th>
  
                </tr>
              </thead>
              <tbody>
                  <% records.forEach(function(row){ %>
                      <tr>
                          <th scope="row"><%= row._id %></th>
                          <td><%= row.fullname%></td>
                          <td><%= row.email%></td>
                          <td><%= row.contact%></td>
                          <td><%= row.password%></td>
                          <td><%= row.dob%></td>
                          <td><%= row.Address%></td>
                          <td><%= row.gender%></td>
                          <td><%= row.contact%></td>
                          <td><a class="btn btn-danger" href="/admin/busShow/delete/<%= row._id%>">Delete</a></td>
                          <!-- <td><a class="btn btn-primary" href="/admin/edit/<%= row._id%>">Edit</a></td> -->
                      </tr>>
                   <% }) %>
                
              </tbody>
            </table>
        </div>
    </div>
  

  </body>
</html>
